main {
    width: 100%;
    height: 700px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../img/background/main.png") center/cover;
}

aside {
    width: 220px;
    position: absolute;
    top: 30px;
    right: 5px;
}

.share {
    width: 199px;
    height: 41px;
    margin: 0 auto;
    background: url("../img/background/share.png");
}

@media screen and (min-resolution: 2dppx) {
    .share {
        background: url("../img/background/share@2x.png") 0/auto 100%;
    }
}

.share > ul {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 10px 10px 60px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.share > ul > li {
    width: 19px;
    height: 19px;
}

.twitter-timeline:not(.twitter-timeline-rendered) {
    display: none;
}

.twitter-timeline {
    margin-top: 10px !important;
    opacity: 0.9;
}

h1 {
    text-align: center;
}

h1 img {
    max-width: 95%;
}

@media screen and (max-width: 740px) {
    main {
        height: 500px;
    }

    .twitter-timeline {
        display: none !important;
    }
}